*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1, h2, h3{
    font-family: sans-serif;
}

h3 {
    text-transform: uppercase;
    color: white;
    font-size: xx-small;
}

a {
    text-emphasis: none;
}

.container {
    margin: 50px;
    text-align: center;
}

.original {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-gap: 10px;
    margin: 40px;
    justify-content: center;
}

.button_text {
    background-color: rgb(42, 221, 212);
    color: white;
    border-radius: 20px;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
}