:root {
    --font-sans-serif: futura-pt, sans-serif;
    --dark-gray: #737373;
    --light-gray: #ddd;
    --white: #fff;
    --teal: #28b6b8;
}

html {
    box-sizing: border-box;
  }
  *, 
  *:before, 
  *:after {
    box-sizing: inherit;
  }

img {
    max-width: 100%;
    min-width: 10%;
    margin: auto 0;
}

/*typography*/

/*note: will adjust sizing and text color (white) when coding actual page; kept dark gray for readability againt white background. Do I need to specify text size here? I don't think so; it's more text style for now, can add size when doing individual sections, I think).
*/

body {
    font-family: var(--font-sans-serif);
    color: var(--dark-gray);
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.667;
    margin: auto;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-sans-serif);
}

h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2em; /*why is this showing up so big???*/
    letter-spacing: .1em;
}

h2 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: .08em;
}

h3 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: .9em;
    letter-spacing: .08em;
}

h4 {
    font-weight: 700;
    font-style: normal;
}

/*links*/

a {
    text-decoration: none;
    color: var(--dark-gray);
}

a:link {
    color: var(--white);
}

a:visited {
    color: var(--white);
}

a:hover {
    color: var(--light-gray);
}

/* A link that is selected/active (except for the logo, need to make sure doesn't change color*/
a:active {
    color: var(--light-gray);
}

/*images*/

img {
    max-width: 100%;
    display: block;
}


/*component*/

.component {
    max-width: initial;
}

.container {
    border: 1px solid var(--dark-gray);
    margin: 0 50px 0 50px;
    padding: 1rem;

}

/*button*/

.button {
    background: var(--teal);
    border-radius: 25px;
    padding: 15px 25px 15px 25px;
    display: inline-block;
}

/*Header*/

.header-item {
    display: inline-block;
}

.header {
    display: flex;
    justify-content: space-between;
    background-image: url("../img/header-image.jpg");
}

/*galleries*/

.gallery {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 10px;
    justify-content: center;
}

.footer-gallery {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-gap: 15px;
    justify-content: center;
}

/*icons*/

.cart-icon {
    font-size: 1.5em;
    margin: 10px; /*for display purposes, may change or remove*/
}

.cart-value {
    /*note: I know that this is not how it would actually be done when complete, as it would need to pull information from a shopping cart, but I wanted to formally fit the look */ 
    color: white;
    font-size: .2em;
    background: black;
    color: var(--white);
    border-radius: 50%;
    padding: 1px 8px 1px 8px;
    display: inline-block;
    position: relative;
    right: 20px; bottom: 10px;
}

.social-icon {
    font-size: 1em;
    background: var(--white);
    color: var(--teal);
    border-radius: 50%; /*change from this to actual images with circles, makes it too difficult when different icons have different widths; ie. the facebook icon doesn't appear circular*/
    padding: 10px;
    display: inline-block;
    margin: 5px;
}


/*Hours & Location*/
/*need to add some space between items in table - how?*/

/*Main Nav list*/

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list-item {
    display: inline-block;
    padding: 5px;
}

/*SECTIONS*/


/*Info Section*/
.info-buttons {
    display: flex;
    justify-content: space-between;
}

.info-button {
    display: inline-block;
    margin: 0px 60px 10px 60px; /*should i be doing this in a percentage way so that it changes with sizing?*/
}

/*how to have space under <hr> bar and not just over?  Make sure to add this in.

/*Primary Gallery*/

/*Footer*/
.footer {
    margin: auto; /*idk if I need this; may just be solved by centerirng entire page..*/
    color: var(--white);
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}



.map {
    padding: 0px 0px 0px 80px; /*this is a quick fix; how do I make the image fit within the margins and shrink when the page shrinks??? also, why is there still a margin on the right side of the map/*/
}

.social-icons {
    display: flex;
    justify-content: center;
}

.footer-background {
    background: var(--teal);
}


/*highlights*/

.highlight {
    text-align: center;
}

.highlight-text {
    padding: 250px 0px 250px 0px;
    color: var(--white);
}

.highlight-image1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/highlight-image1.jpg");
}

.highlight-image2 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/highlight-image2.jpg")
}