:root {
    --font-sans-serif: futura-pt, sans-serif;
    --dark-gray: #737373;
    --light-gray: #ddd;
    --white: #fff;
    --teal: #28b6b8;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: var(--font-sans-serif);
    color: var(--dark-gray);
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.667;
}