<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola Arepa Components</title>
    <link rel="stylesheet" href="https://use.typekit.net/ipv3deq.css">
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="css/normalize.css" rel="stylesheet"/>
  </head>
  <body>
      <h1>Web Comoponents</h1>

      <h2>Typography Defaults</h2>

    <article class="component">
      <h3 class="component__name">body</h3>
      <img 
      srcset ="img/info-text-about.png 2x"
      src="img/info-text-about.png"
      alt="body copy">

      <div class="component__code">
        Hola Arepa is a restaurant in South Minneapolis serving our take on Latin street food.  We serve Venezuelan-style stuffed arepas, Latin American-influenced small plates, and tropical craft cocktails.

        Chef Christina Nguyen & her partner Birk Grudem started Hola Arepa as a food truck in 2011. Though the truck has been mostly in hibernation since they opened their brick & mortar restaurant in 2014, you can always enjoy their arepas, other dishes & cocktails in a space inspired by their travels to beach towns and charming old cafes in South America, Central America and Mexico.
      </div>
    </article>
  </body>
</html>