<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hola Arepa Components</title>
    <link rel="stylesheet" href="https://use.typekit.net/ipv3deq.css">
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="css/normalize.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/f06c72e2b3.js" crossorigin="anonymous"></script>
  </head>
  <body>
      <h1>Web Components</h1>

      <h2>Typography Defaults</h2>

    <article class="component">
      <h3 class="component__name">body</h3>
      <div class="component__img">
      <img srcset ="img/info-text-about.png 2x" src="img/info-text-about.png" alt="body copy">
        </div>
      <div class="component__code">
        <p>Hola Arepa is a restaurant in South Minneapolis serving our take on Latin street food.  We serve Venezuelan-style stuffed arepas, Latin American-influenced small plates, and tropical craft cocktails.</p>

        <p>Chef Christina Nguyen & her partner Birk Grudem started Hola Arepa as a food truck in 2011. Though the truck has been mostly in hibernation since they opened their brick & mortar restaurant in 2014, you can always enjoy their arepas, other dishes & cocktails in a space inspired by their travels to beach towns and charming old cafes in South America, Central America and Mexico.</p>
      </div>
    </article>
    
    <article class="component">

        <h3 class="component__name">headings (h1, h2, h3, h4)</h3>
        <div class="component__img">
        <img srcset ="img/header-title.png 2x" src="img/header-title.png" alt="h1">
        <img srcset ="img/header-navbar-item.png 2x" src="img/header-navbar-item.png" alt="h2">
        <img srcset ="img/info-button-dine.png 2x" src="img/info-button-dine.png" alt="h4">
        <img srcset ="img/h5.png 2x" src="img/h5.png" alt="h5">
        </div>

        <div class="component__code">
            <h1>Hola Arepa</h1>
            <h2><a href="#!">Order Takeout</a></h2>
            <h3>Dine with us</h3>
            <h4>Follow us on Instagram @holaarepa for all the latest!</h4>
        </div>
      </article>

      <article class="component">

        <h3 class="component__name">Buttons</h3>

        <div class="component__img">
        <img srcset ="img/info-button-dine.png 2x" src="img/info-button-dine.png" alt="button dine">
        <img srcset ="img/info-button-pickup.png 2x" src="img/info-button-pickup.png" alt="button pickup">
        <img srcset ="img/primary_gallery-button.png 2x" src="img/primary_gallery-button.png" alt="button menu">
        </div>

        <div class="component__code">
            <h3><a href="#!" class="button">Dine with us</a></h3>
            <h3><a href="#!" class="button">Order Curbside Pickup</a></h3>
            <h3><a href="#!" class="button">View menus</a></h3>
        </div>
      </article>

      <article class="component">

        <h3 class="component__name">Galleries</h3>

        <div class="component__img">
        <img srcset ="img/primary_gallery-images.png 2x" src="img/primary_gallery-images.png" alt="primary gallery">
        <img srcset ="img/secondary_gallery.png 2x" src="img/secondary_gallery.png" alt="secondary gallery">
        <img srcset ="img/footer_gallery.png 2x" src="img/footer_gallery.png" alt="footer gallery">
        </div>

        <div class="component__code">
            <div class="gallery">
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img1_thumbnail.jpg" alt="img1"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img2_thumbnail.jpg" alt="img2"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img3-thumbnail.jpg" alt="img3"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img4_thumbnail.jpg" alt="img4"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img5_thumbnail.jpg" alt="img5"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img6_thumbnail.jpg" alt="img6"></a>
                </div>
            </div>
            <div class="gallery">
                <div class="gallery_image">
                    <a href="#!"><img src="img/sg_img1_thumbnail.jpg" alt="img1"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/sg_img2_thumbnail.jpg" alt="img2"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/sg_img3_thumbnail.jpg" alt="img3"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/sg_img4_thumbnail.jpg" alt="img4"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/sg_img5_thumbnail.jpg" alt="img5"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/sg_img6_thumbnail.jpg" alt="img6"></a>
                </div>
            </div>
            <div class="footer-gallery">
                <div class="gallery_image">
                    <a href="#!"><img src="img/fg_img1_thumbnail.jpg" alt="img1"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/fg_img2_thumbnail.jpg" alt="img2"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/fg_img3_thumbnail.jpg" alt="img3"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/fg_img4_thumbnail.jpg" alt="img4"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/fg_img5_thumbnail.jpg" alt="img5"></a>
                </div>
            </div>
        </div>
      </article>
      <article class="component">

        <h3 class="component__name">Icons</h3>

        <div class="component__img">
        <img srcset ="img/header-navbar-icon.png 2x" src="img/header-navbar-icon.png" alt="shopping cart icon">
        <img srcset ="img/footer_icons.png 2x" src="img/footer_icons.png" alt="social icons">
        </div>

        <div class="component__code">
            <a href="#!" class="icon"><i class="cart-icon fas fa-shopping-cart"></i></a>
            <div class="cart-value">
            <p>0</p>
            </div>

            <div class="social-icons">
            <h3><a href="#!" class="icon"><i class="social-icon fab fa-facebook-f"></i></a></h3>
            <h3><a href="#!" class="icon"><i class="social-icon fab fa-twitter"></i></a></h3>
            <h3><a href="#!" class="icon"><i class="social-icon fab fa-instagram"></i></a></h3>
            </div>
        </div>
      </article>

      <article class="component">

        <h3 class="component__name">Footer info text</h3>

        <div class="component__img">
        <img srcset ="img/footer_info.png 2x" src="img/footer_info.png" alt="footer text">
        </div>

        <div class="component__code">
            <h1>Hours</h1>
            <table>
            <tr>
                <td>Tue - Thu</td>
                <td>4pm - 9pm</td>
            </tr>
            <tr>
                <td>Fri</td>
                <td>4pm - 10pm</td>
            </tr>
            <tr>
                <td>Sat</td>
                <td>10am - 10pm</td>
            </tr>
            <tr>
                <td>Sun</td>
                <td>10am - 9pm</td>
            </tr>
            <tr>
                <td>Mondays</td>
                <td>Siesta</td>
            </tr>
            </table>                                                                                                                         
            
            <h1>Location</h1>
            3501 Nicollet Avenue<br>
            Minneapolis, MN 55408<br>
            612 345 5583<br>
            
            <p>info@holaarepa.com</p>
        </div>
      </article>

      <article class="component">

        <h3 class="component__name">Main Nav List</h3>

        <div class="component__img">
        <img srcset ="img/header-navbar.png 2x" src="img/header-navbar.png" alt="main navbar">
        </div>

        <div class="component__code">
            <div>
            <ul class="menu-list">
                <h2>
                <li class="menu-list-item">Order takeout</li>
                <li class="menu-list-item">Menus</li>
                <li class="menu-list-item">Visit</li>
                <li class="menu-list-item">Meal kits</li>
                <li class="menu-list-item">Press</li>
                <li class="menu-list-item">Gift cards</li>
                <li class="menu-list-item">Hai Hai</li>
                </h2>
            </ul>
            </div>
        </div>
      </article>

      <article class="component">

        <h3 class="component__name">Header nav bar</h3>

        <div class="component__img">
        <img srcset ="img/header.png 2x" src="img/header.png" alt="main navbar">
        </div>

        <div class="component__code">
            <div class="header">
                <div class="header-item header-item-title">
                <h1>Hola Arepa</h1>
                </div>

                <div class="header-item">
                <ul class="menu-list">
                    <h2>
                    <li class="menu-list-item">Order takeout</li>
                    <li class="menu-list-item">Menus</li>
                    <li class="menu-list-item">Visit</li>
                    <li class="menu-list-item">Meal kits</li>
                    <li class="menu-list-item">Press</li>
                    <li class="menu-list-item">Gift cards</li>
                    <li class="menu-list-item">Hai Hai</li>
                    <li class="menu-list-item"><a href="#!" class="icon"><i class="cart-icon fas fa-shopping-cart"></i></a>
                    <div class="cart-value">
                    <p>0</p>
                    </div></li>
                    </h2>
                </ul>
                </div>
            </div>
            
        </div>
      </article>

      <article class="component">

        <h3 class="component__name">Info Section</h3>

        <div class="component__img">
        <img srcset ="img/info.png 2x" src="img/info.png" alt="info section">
        </div>

        <div class="component__code">
            <div>
                <h4>Introducing HOLA AT HOME Meal Kits!</h4>
                <p>We’re excited to offer you a variety of meal kits for Wednesday and Saturday curbside pickup to heat up and enjoy at home! Hola is here to spice up your weekly meal rotation with our Latin staples that you love!</p>

                <h4>Open for Patio & Indoor Dining</h4>
                <p>We’re looking forward to welcoming you to dine with us.  It’s a whole new world at Hola Arepa in the time of COVID-19.  We can’t wait to serve you the food & drinks that you love in a familiar space, but the dining experience may be a little different than before.  New safety protocols, less table touches and a little less staff interaction are a few things we’re doing for our health and yours.  For full details on this & to make a reservation, please click on the VISIT button below.</p>

                <p>If you aren’t quite ready to start dining out yet, Hola still tastes delicious at home and our Curbside Pickup makes it easy. Click the Order Curbside Pickup button below to order online.</p>

                <p>Dine In & Takeout Hours:<br>
                Tue - Thu: 4pm to 9pm<br>
                Fri: 4pm to 10pm<br>
                Sat: 10am to 10pm<br>
                Sun: 10am to 9pm</p>

                <p>Thank you for your continued support during this time!</p>
                
                <div class="info-buttons">
                <h3><a href="#!" class="button info-button">Dine with us</a></h3>
                <h3><a href="#!" class="button info-button">Order Curbside Pickup</a></h3>
                </div>
                <hr>

                <p>Hola Arepa is a restaurant in South Minneapolis serving our take on Latin street food.  We serve Venezuelan-style stuffed arepas, Latin American-influenced small plates, and tropical craft cocktails.</p>

                <p>Chef Christina Nguyen & her partner Birk Grudem started Hola Arepa as a food truck in 2011. Though the truck has been mostly in hibernation since they opened their brick & mortar restaurant in 2014, you can always enjoy their arepas, other dishes & cocktails in a space inspired by their travels to beach towns and charming old cafes in South America, Central America and Mexico.</p>
            </div>
        </div>
      </article>

      <article class="component">

        <h3 class="component__name">Primary Gallery</h3>

        <div class="component__img">
        <img srcset ="img/primary_gallery.png 2x" src="img/primary_gallery.png" alt="primary gallery">
        </div>

        <div class="component__code">
            <div class="gallery">
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img1_thumbnail.jpg" alt="img1"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img2_thumbnail.jpg" alt="img2"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img3-thumbnail.jpg" alt="img3"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img4_thumbnail.jpg" alt="img4"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img5_thumbnail.jpg" alt="img5"></a>
                </div>
                <div class="gallery_image">
                    <a href="#!"><img src="img/pg_img6_thumbnail.jpg" alt="img6"></a>
                </div>
            </div>

            <h3><a href="#!" class="button">View menus</a></h3>

        </div>
      </article>

  </body>
</html>